<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">


        {% block title %}
        <title> this parent </title>
        {% endblock  %}

        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <center>
        <h1> this is parent pages </h1>

        {% block body_block %}
        <h1> firsr line </h1>
        {% endblock %}
        
        <h1> second line hai </h1>
        </center>
    </body>
</html>